/* EditProfile.jsx */

nav .my-btn button {
  background-color: #ff6f61;
  color: #ffffff;
  border: 1px solid #ff6f61;
  font-weight: bold;
  width: 100%;
  border-radius: 50rem; /* rounded-pill と同等 */
  transition: background-color 0.3s, border-color 0.3s; /*遷移効果*/
}
nav .my-btn button { /*ホバースタイル*/
  background-color: #eb4233; /* 濃いめのホバー色 */
  border-color: #e85a4d;
  color: #ffffff; /* 必要なら変えてもOK */
}
